#link_logo{
    align-items: center;
    display: flex;
    margin-left: 24px;
}

#link_logo img {
  max-height: 300px;
}

.logo-area{
    padding-left: 50px;
}

@media (max-width: 900px) {
  #link_logo{
      margin-left: 0;
  }

  #link_logo img {
    max-height: 160px;
  }

  .logo-area{
      padding-left: 16px;
  }
}
