/*Contato Whatsapp*/

.encontre-nos{
    font-size: 35px;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    padding-bottom: 10px;
    display: block;
}


.contato-whatsapp{
    margin: 320px auto 20px auto;
    text-align: center;
}

/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&& botão do uiverse &&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/
button {
 appearance: none;
 background-color: transparent;
border: 0.125em solid #000000;
 border-radius: 0.9375em;
 border: none;
 box-sizing: border-box;
 color: #000000;
 cursor: pointer;
 display: inline-block;
 font-size: 16px;
 font-weight: 600;
 line-height: normal;
 margin: 3px;
 min-height: 3.75em;
 min-width: 0;
 height: 157px;
 width: 126.5px;
 outline: none;
 text-align: center;
 text-decoration: none;
 transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 will-change: transform;
}

button:disabled {
 pointer-events: none;
}

button:hover {
 color: #ffffff;
 background-color: #2c4997;
 box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
 transform: translateY(-2px);
}

button:active {
 box-shadow: none;
 transform: translateY(0);
}
/*&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&&*/

/*mapa*/
.mapa-wrapper{
  max-width: 790px;      /* mesma largura do iframe */
  margin: 300px auto;     /* centraliza horizontalmente */
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;    /* centraliza os itens dentro */
}

.mapa{
  width: 100%;           /* ocupa a largura do wrapper */
  height: 450px;
  border: 0;             /* já está inline, mas deixo aqui pra garantir */
}

/* opcional: responsivo */
@media (max-width: 820px){
  .mapa-wrapper{ padding: 0 16px; }
  .mapa{ height: 360px; }
}