.conteudo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:100%;
    margin: 0 auto;
    gap: 1em;
}

.conteudo{
    flex: 1;
    text-align: left;
}

.mulher-sentada{
    width: 600px;
    height: auto;
    object-fit: cover;
}