.conteudo-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width:75%;
    margin: 150px auto 100px auto;
    gap: 1em;
    padding-left: 50px;
}

.conteudo{
    flex: 1;
    text-align: left;
    height: 400px;
}

.mulher-sentada{
    width: 400px;
    height: auto;
    object-fit: cover;
}

.cards-wrapper{
    margin: 0 auto;
    max-width: 75%;
    padding-left: 40px;
}